%li.image{:id => "image#{image.id}", :'data-id' => image.id}
  .attributes   
    - render_region :attributes do |attributes|
      - attributes.thumbnail do
        .image.attribute
          %a{ :href => edit_admin_image_path(image), :title => image.title }
            %img.icon{ :src => image.asset.url(:icon) }
      - attributes.title do
        %span.title.attribute= link_to image.title, edit_admin_image_path(image)
      - attributes.modify do
        .modify.attribute
          %span.remove= link_to t('remove'), remove_admin_image_path(image)