- @page_title = @image.title.titleize + ' - ' + default_page_title

- render_region :top do |top|
  - top.title do
    %h1 Edit Image

- form_for :image, @image, :url => admin_image_path(@image), :html => {:method => :put, :multipart => true, :id => 'edit_image', 'data-onsubmit_status'=>"Saving Changes&#8230;"} do |fields|
  #fields
    = render :partial => 'fields', :locals => { :fields => fields }

  #fields_bottom
    = render :partial => 'fields_bottom'