- @page_title = t('images') + ' - ' + default_page_title

.outset
  
  #images_map
    
    #images_headings
      %h2.images Image

      %h2.modify Modify
  
    %ul#images
      = render @images

#actions
  = render 'bottom'