- @page_title = t('images') + ' - ' + default_page_title

.outset
  
  #images_map
    
    #images_headings
      %h2.images Image

      %h2.modify Modify
  
    %ul#images
      = render :partial => '/admin/images/index/image', :collection => @images

#actions
  = render '/admin/images/index/bottom'